body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.contact-section {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 60%;
  margin: 5% auto; /* Ajusta el margen superior para separar el formulario del header */
  padding: 20px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative; /* Añadido para establecer una posición relativa en la sección */
}

.form-content {
  margin-left: 1rem;
  margin-top: 1rem;
}

.contact-section h2 {
  color: #000;
  text-align: center;
}

.contact-label {
  display: block;
  margin-bottom: 6px;
  color: #333;
}

.contact-input,
.contact-textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-textarea {
  resize: vertical;
}

.contact-submit {
  background-color: #eb3349;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.contact-submit:hover {
  background-color: #f45c43;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  flex: 1;
  max-width: 50%;
}

.contact-image {
  width: 100%;
  height: auto;
}

.form-content {
  flex: 1;
  max-width: 50%;
}

/* Media query para dispositivos móviles (ancho menor a 768px) */
@media (max-width: 768px) {
  .contact-section {
    background-image: url("../../media/trabajos.jpg"); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
  }

  .image-container {
    display: none; /* Oculta la imagen en dispositivos móviles */
  }

  .form-content {
    width: 100%; /* Ocupa todo el ancho en dispositivos móviles */
    max-width: none; /* Elimina el ancho máximo */
  }

  .contact-input,
  .contact-textarea,
  .contact-submit {
    background-color: rgba(255, 255, 255, 0.7); /* Fondo transparente */
    backdrop-filter: blur(5px); /* Aplicar un efecto de desenfoque */
    border: none; /* Elimina el borde */
    padding: 10px; /* Espaciado interior */
    border-radius: 5px; /* Borde redondeado */
  }

  .contact-label {
    color: #000; /* Texto en negro oscuro */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
  }

  .contact-label {
    color: #000; /* Texto en negro oscuro */
    border-radius: 15px;
    text-align: center; /* Centra el texto horizontalmente */
    margin: 0 auto; /* Centra el elemento horizontalmente */
    margin-bottom: 5px;
  }

  .contact-section {
    background-image: url("../../media/trabajos.jpg"); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; /* Centra la imagen horizontal y verticalmente */
  }

  .contact-submit {
    color: #000;
  }
}
