body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 100;
}

.header-links {
  flex-grow: 1;
  text-align: center;
}

.header-links a {
  color: #495057;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 550;
  font-size: 16px;
  margin: 0 20px;
}

.login-links {
  display: flex;
  align-items: center;
}

.login-link {
  background-color: #eb3349;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 30px;
}

.login-link:hover {
  background-color: #f45c43;
}
.header-links:hover {
  color: #f45c43; /* Color al hacer hover */
}
/* Aplicar color al hacer hover en los enlaces */
.header-links a:hover {
  color: #f45c43;
}

.logo {
  width: 200px;
  height: 50px;
}
