/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos de encabezado */
header {
  background: linear-gradient(to bottom, #f45c43, #eb3349);
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

header h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

header p {
  font-size: 18px;
}

.btn-primario {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(to bottom, #f45c43, #eb3349);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
}

.btn-primario:hover {
  background: linear-gradient(to bottom, #eb3349, #f45c43);
}

/* Otros estilos (añade más según tus necesidades) */
/* Estilos del slider */
div#slider {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  background: linear-gradient(to bottom, #f45c43, #eb3349);
}

@keyframes slideAnimation {
  0% {
    opacity: 0;
    transform: translateX(100%);
    transform-origin: center;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    transform-origin: center;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
  }
}

div#slider .slide {
  flex: 1;
  width: 100%;
  text-align: center;
  display: none;
  animation: slideAnimation 2s ease-in-out;
  animation-delay: 2s;
}

div#slider header {
  color: #fff;
  padding: 100px 0;
  margin-left: 80px;
}

div#slider h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: left;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

div#slider p {
  font-size: 18px;
  text-align: left;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

div#slider .btn-primario {
  display: table;
  padding: 10px 20px;
  background: linear-gradient(to bottom, #f45c43, #eb3349);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

div#slider .btn-primario:hover {
  background: linear-gradient(to bottom, #eb3349, #f45c43);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

div.slide .content {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.slide .text {
  flex: 1;
  padding: 20px;
}

div.slide .image {
  flex: 1;
  padding: 20px;
  text-align: center;
}

/* Estilos de las secciones */

.ventajas-general {
  margin-top: 50px;
}

.ventajas-general h1 {
  color: #eb3349; /* Color rojo */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); /* Efecto de sombra */
  text-align: center;
  font-size: 36px;
}

.ventajas-general h3 {
  color: #f45c43; /* Color naranja */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); /* Efecto de sombra */
  text-align: center;
  font-size: 18px;
}

#ventajas {
  background-color: #fff;
  padding: 0px 0;
  text-align: center;
  display: flex;
}

.ventaja {
  display: inline-block;
  margin: 50px;
  padding: 20px;
  width: 30%;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #eb3349, #f45c43);
}

.ventaja h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.ventaja p {
  font-size: 16px;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.ventaja img {
  width: 70%;
    height: 70%;
}

/* Estilos para la sección de suscripción */
#suscripcion {
  display: flex;
  justify-content: space-between; /* Coloca los elementos a ambos lados */
  align-items: center;
  padding: 20px;
  background-image: url("../../media/fondo.jpg"); /* Ruta a tu imagen de fondo */
  background-size: cover;
  background-attachment: fixed; /* Fija la imagen de fondo */
  background-repeat: no-repeat;
  background-position: center;
  color: #fff; /* Cambia el color del texto para que sea legible en el fondo */
  background-position: center calc(100% - -1000px);
}

/* Estilos para la parte izquierda */
.izquierda {
  flex: 1; /* Toma el 50% del espacio disponible */
  padding: 20px;
}

/* Estilos para el título en la parte izquierda */
.izquierda h2 {
  font-size: 36px;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Estilos para el subtítulo en la parte izquierda */
.izquierda h3 {
  font-size: 18px;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Estilos para la parte derecha (formulario de suscripción) */
.derecha {
  flex: 1; /* Toma el 50% del espacio disponible */
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para el formulario */
form {
  text-align: left;
}

/* Estilos para el label del campo de correo electrónico */
label {
  color: #f45c43; /* Color naranja */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); /* Efecto de sombra */
  text-align: center;
  font-size: 18px;
}

/* Estilos para el campo de correo electrónico */
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #f45c43;
  border-radius: 3px;
}

/* Estilos para el botón de suscripción */
button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #eb3349;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Estilos para el botón al pasar el mouse */
button:hover {
  background-color: #f45c43;
}
